.btn {
    display: inline-block;
    // font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;

    @include hover() {
        // color: $body-color;
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: 0;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &-buy {
        background: url('../images/fancy_button.png') no-repeat center / cover;
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include mq('md', min) {
            font-size: rem(24px);
            width: rem(160px);
            height: rem(76px);
        }

        &--white {
            background-image: url('../images/fancy_button_light.png');
            color: $dark;

            @include mq('md', min) {
                width: rem(180px);
                height: rem(86px);
            }
        }
    }

    &-primary {
        background-color: $dark;
        border: none;
        border-radius: rem(6px);
        color: $white;
        cursor: pointer;
        font-size: rem(14px);
        white-space: nowrap;
        padding: 0 rem(10px);
        width: 100%;
        height: rem(40px);
    }
}

a {
    transition: opacity .3s ease;

    &:hover {
        opacity: .7;
    }
}