.relative {
    position: relative;
}

.object-cover {
    object-fit: cover;
}

.base-bg {
    background-color: #000;
    background-image: url('../images/bg.png');
    background-size: 100% auto;
}

.p-sec {
    padding: rem(50px) 0 rem(50px);
}

.bg-gray {
    background-color: rgba(17, 24, 39, .65);
}

.p-mv {
    &__wrap {
        @include mq('lg', min) {
            position: relative;
            display: flex;
        }
    }

    &__media {
        @include mq('lg', min) {
            width: 50%;
        }

        @include mq('md', min) {
            width: 75%;
        }

        img {
            object-fit: cover;
            aspect-ratio: 784 / 927;
            width: 100%;
        }
    }

    &__content {
        width: 100%;
        margin: 0 auto;

        @include mq('md', min) {
            width: 75%;
        }
        
        @include mq('md') {
            margin-top: rem(-150px);
        }

        @include mq('lg', min) {
            width: auto;
            margin-left: rem(50px);
        }

        .media {
            aspect-ratio: 499 / 357;
            width: auto;

            img {
                width: 100%;
            }
        }

        .des {
            @include mq('md', min) {
                margin-top: rem(-32px);
            }

            &-dt {
                &__name {
                    color: rgb(195, 255, 157);
                    font-size: rem(20px);
                    font-weight: $font-weight-bold;
                    line-height: calc(36 / 30);
                    text-transform: uppercase;
                    text-align: center;

                    @include mq('md', min) {
                        font-size: rem(30px);
                    }
                }

                &__txt {
                    color: rgb(195, 255, 157);
                    font-size: rem(16px);
                    font-weight: $font-weight-somibold;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: rem(10px);

                    @include mq('md', min) {
                        font-size: rem(24px);
                        margin-top: rem(5px);
                    }
                }

                &__copy {
                    background-color: rgba(17, 24, 39, .8);
                    border-radius: .25rem;
                    cursor: pointer;
                    color: $white;
                    font-weight: $font-weight-bold;
                    font-size: rem(12px);
                    opacity: .7;
                    padding: rem(6px) rem(12px);
                    width: fit-content;
                    margin: rem(10px) auto 0;
                }
            }
        }
    }
}

.p-about {
    &__box {
        font-size: rem(14px);
        line-height: rem(28px);
        background-color: rgba(17, 24, 39, .3);
        border-radius: rem(4px);
        padding: rem(16px);
        text-align: justify;

        @include mq('md', min) {
            font-size: rem(18px);
            line-height: rem(28px);
        }
    }
}

.p-stage {
    .swiper-cards {
        .swiper-wrapper {
            @include mq('lg', min) {
                height: rem(500px);
            }
        }

        .swiper-slide {
            border: 1px solid #000;
            border-radius: rem(6px);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.p-artist {
    .hline02 {
        margin-bottom: rem(80px);
    }

    .guest {
        display: flex;
        align-items: center;
        position: relative;

        &-item {
            aspect-ratio: 130 / 340;
            flex: 1;
            position: relative;
            z-index: 2;

            @include mq('md', min) {
                aspect-ratio: 130 / 340;
            }

            @include mq('lg', min) {
                padding: 0 rem(10px);
            }

            &:nth-child(odd) {
                transform: skew(-6deg);

                @include mq('lg', min) {
                    height: calc(100% + 40px);
                    top: -20px;
                }

                &::before {
                    background-color: #ffffff1a;
                    content: "";
                    display: block;
                    height: calc(100% + 20px);
                    left: 50%;
                    position: absolute;
                    top: 10px;
                    width: 120%;
                    z-index: 1;
                }
            }

            &:nth-child(3) {
                &::before {
                    left: rem(20px);
                    top: rem(-10px);
                }
            }

            &:last-child {
                &::before {
                    left: -25%;
                }
            }

            &:nth-child(2n) {
                transform: skew(-6deg) translateY(20px);
                z-index: 3;
            }

            .img {
                height: 100%;
                position: relative;
                z-index: 3;

                &::before {
                    background-image: linear-gradient(0deg, #000, #fff);
                    content: "";
                    height: 100%;
                    left: 0;
                    opacity: .2;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

                img {
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

.arr {
    &-item {
        &:not(:last-child) {
            margin-bottom: rem(20px);
        }

        &__head {
            border-bottom: 1px solid $white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq('md', min) {
                padding-bottom: rem(5px);
            }

            .ic {
                width: rem(50px);
                height: rem(50px);
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    content: "+";
                    font-size: rem(20px);
                }
            }

            &.is-open {
                .ic {
                    &::before {
                        content: "-";
                    }
                }
            }
        }

        &__body {
            // display: none;
        }

        &__content {
            padding-top: rem(20px);

            @include mq('md', min) {
                padding-top: rem(24px);
            }

            p {
                margin-top: rem(8px);

                @include mq('md', min) {
                    font-size: rem(18px);
                    margin-top: rem(12px);
                }
            }
        }
    }
}

.p-map {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        
        @include mq('md', min) {
            flex-direction: row;
            align-items: center;
            gap: rem(20px);
        }
    }

    &__item {
        @include mq('md', min) {
            flex: 1;
        }

        .map {
            height: rem(350px);

            @include mq('md', min) {
                height: rem(420px);
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.p-checkout {
    color: $dark;
    position: relative;

    &__parallax {
        background-attachment: fixed;
        background-image: url(../images/banner_fb.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 50vw;
        width: 100%;
    }

    &__content {
        background-color: $white;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: rem(20px);

        @include mq('md', min) {
            flex-direction: row;
        }
    }

    &__dt {
        @include mq('md', min) {
            width: calc(100% - #{rem(310px)});
        }

        .lst-dt {
            &__item {
                font-size: rem(15px);
                font-family: $font-Nunito;

                @include mq('md', min) {
                    font-size: rem(18px);
                }

                &:not(:last-child) {
                    border-bottom: 1px solid rgb(209, 213, 219);
                    margin-bottom: rem(20px);
                    padding-bottom: rem(20px);
                }
            }

            &__time {
                font-size: rem(14px);

                @include mq('md', min) {
                    font-size: rem(16px);
                }
            }

            &__head {
                position: relative;
                cursor: pointer;
                background-color: rgb(249 250 251);
                padding: rem(10px) rem(50px) rem(10px) rem(10px);

                .ic {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: rem(20px);
                    width: rem(20px);
                    height: rem(20px);
                    cursor: pointer;

                    svg {
                        transition: transform .3s ease;
                    }
                }

                &.is-open {
                    .ic {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &__content {
                display: none;
                
                .item {
                    font-size: rem(14px);
                    display: flex;
                    gap: rem(20px);
                    
                    @include mq('md', min) {
                        gap: rem(50px);
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid rgb(209, 213, 219);
                        margin-bottom: rem(20px);
                        padding-bottom: rem(20px);
                    }
                }

                ul {
                    li {
                        font-size: rem(12px);
                        position: relative;
                        display: flex;
                        gap: rem(8px);
                        text-align: justify;

                        &:not(:last-child) {
                            margin-bottom: rem(4px);
                        }

                        @include mq('md', min) {
                            font-size: rem(14px);
                        }

                        &::before {
                            content: "";
                            background-color: $dark;
                            border-radius: 50%;
                            flex: 0 0 rem(4px);
                            width: rem(4px);
                            height: rem(4px);
                            position: relative;
                            top: rem(8px);
                        }
                    }
                }

                .total {
                    flex: 0 0 rem(80px);
                    width: rem(80px);
                    font-size: rem(13px);

                    @include mq('md', min) {
                        font-size: rem(14px);
                        flex: 0 0 rem(170px);
                        width: rem(170px);
                    }
                    
                    p {
                        white-space: nowrap;
                    }

                    small {
                        font-size: 90%;
                    }
                }
            }
        }
    }

    &__side {
        background-color: rgb(243 244 246);
        border-radius: rem(4px);
        padding: rem(16px);

        @include mq('md', min) {
            width: rem(300px);
        }
    }
}

.qtySelector {
    border: 1px solid #ddd;
    border-radius: rem(4px);
    height: 35px;
    margin: 10px auto 0;

    @include mq('md', min) {
        width: rem(107px);
    }
}

.qtySelector .fa {
    padding: 10px 5px;
    width: rem(25px);
    height: 100%;
    float: left;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include mq('md', min) {
        width: rem(35px);
    }

    img {
        width: rem(10px);
    }
}

.qtySelector .fa.clicked {
    font-size: 12px;
    padding: 12px 5px;
}

.qtySelector .fa-minus {
    border-right: 1px solid #ddd;
}

.qtySelector .fa-plus {
    border-left: 1px solid #ddd;
}

.qtySelector .qtyValue {
    border: none;
    font-weight: bold;
    padding: 5px;
    width: rem(25px);
    height: 100%;
    float: left;
    text-align: center;

    @include mq('md', min) {
        width: rem(35px);
    }
}

.frm {
    &-ttl {
        font-size: rem(16px);
        font-weight: $font-weight-somibold;
    }

    &-item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: rem(12px);
        }

        svg {
            position: absolute;
            top: rem(16px);
            right: rem(16px);
            width: rem(16px);
            height: rem(16px);
        }
    }
    
    &-payment {
        &__ttl {
            font-size: rem(16px);
        }
        
        &__item {
            font-size: rem(14px);
            
            .wrap {
                display: flex;
                gap: rem(5px);
            }
        }
    }

    &-discount {
        .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &__btn {
            background-color: $dark;
            border: none;
            border-top-right-radius: rem(6px);
            border-bottom-right-radius: rem(6px);
            color: $white;
            cursor: pointer;
            font-size: rem(14px);
            white-space: nowrap;
            padding: 0 rem(10px);
        }
    }
}

.p-popup {
    background-color: $white;
    display: none;
    width: 100%;
    padding: rem(24px) rem(24px);
    
    @include mq('md', min) {
        max-width: rem(550px);
    }

    .f-button {
        &:hover {
            outline: none;
        }
    }

    &--artist {
        background-color: rgba(16, 32, 78, .9);
        padding: rem(8px) rem(24px);

        @include mq('md', min) {
            max-width: rem(1140px);
            padding: rem(8px) rem(24px);
        }
    }

    &__ttl {
        border-bottom: 1px solid $white;
        color: $white;
        font-size: rem(24px);
        font-weight: normal;
        line-height: calc(32 / 24);
        padding-bottom: rem(5px);
    }

    &__flex {
        display: flex;
        gap: rem(20px);
        position: relative;
        padding: rem(16px) rem(10px);
    }

    &__media {
        flex: 0 0 rem(285px);
        max-width: rem(285px);
        // aspect-ratio: 284 / 554;
        border: 1px solid rgb(29 78 216);

        img {
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
    }

    &__content {
        color: $white;
        font-size: rem(16px);
        font-weight: normal;
        line-height: calc(26 / 16);

        p {
            color: $white;
            text-align: justify;
        }
    }
}

.p-checked {
    font-size: rem(14px);

    .ic {
        width: rem(56px);
        margin: 0 auto;

        svg {
            fill: #22c55e;
        }
    }

    .br  {
        width: 5.6rem;
        height: 5.6rem;
        margin: 0 auto 20px;
        background-color: rgb(254 226 226);
        border-radius: 50%;
    }

    .txt {
        font-size: rem(14px);
    }

    .amount {
        padding: rem(4px) rem(8px);
        border-radius: rem(6px);
        background-color: rgb(229 231 235);

        &--copy {
            border: none;
            background-color: $dark;
            color: $white;
            font-size: rem(12px);
        }
    }
    
    .qrcode {
        margin: 0 auto;

        @include mq('md', min) {
            max-width: rem(256px);
        }
    }
}

.fill-red-color {
	color: rgb(220 38 38);
}