.object-cover {
    object-fit: cover;
}

.base-bg {
    background-color: #000;
    background-image: url('../images/bg.png');
    background-size: 100% auto;
}

.p-sec {
    padding: rem(50px) 0 rem(50px);
}

.bg-gray {
    background-color: rgba(17, 24, 39, .65);
}

.p-mv {
    &__wrap {
        position: relative;
        display: flex;
    }

    &__media {
        @include mq('lg', min) {
            width: 50%;
        }

        @include mq('md', min) {
            width: 75%;
        }

        img {
            object-fit: cover;
            aspect-ratio: 784 / 927;
        }
    }

    &__content {
        @include mq('lg', min) {
            width: auto;
        }

        .media {
            aspect-ratio: 499 / 357;
            width: auto;

            img {
                width: 100%;
            }
        }

        .des {
            @include mq('md', min) {
                margin-top: rem(-32px);
            }

            &-dt {
                &__name {
                    color: rgb(195, 255, 157);
                    font-size: rem(30px);
                    font-weight: $font-weight-bold;
                    line-height: calc(36 / 30);
                    text-transform: uppercase;
                    text-align: center;
                }

                &__txt {
                    color: rgb(195, 255, 157);
                    font-size: rem(24px);
                    font-weight: $font-weight-somibold;
                    text-transform: uppercase;
                    text-align: center;
                }

                &__copy {
                    background-color: rgba(17, 24, 39, .8);
                    border-radius: .25rem;
                    color: $white;
                    font-weight: $font-weight-bold;
                    font-size: rem(12px);
                    opacity: .7;
                    padding: rem(6px) rem(12px);
                    width: fit-content;
                    margin: rem(10px) auto 0;
                }
            }
        }
    }
}

.p-about {
    &__box {
        font-size: rem(18px);
        line-height: rem(28px);
        background-color: rgba(17, 24, 39, .3);
        border-radius: rem(4px);
        padding: rem(16px);
    }
}

.p-stage {
    .swiper-cards {
        .swiper-wrapper {
            @include mq('lg', min) {
                height: rem(500px);
            }
        }

        .swiper-slide {
            border: 1px solid #000;
            border-radius: rem(6px);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.p-artist {
    .guest {
        display: flex;
        align-items: center;
        position: relative;

        &-item {
            aspect-ratio: 130 / 340;
            flex: 1;
            position: relative;
            z-index: 2;

            @include mq('md', min) {
                aspect-ratio: 130 / 340;
            }

            @include mq('lg', min) {
                padding: 0 rem(10px);
            }

            &:nth-child(odd) {
                transform: skew(-6deg);

                @include mq('lg', min) {
                    height: calc(100% + 40px);
                    top: -20px;
                }

                &::before {
                    background-color: #ffffff1a;
                    content: "";
                    display: block;
                    height: calc(100% + 20px);
                    left: 50%;
                    position: absolute;
                    top: 10px;
                    width: 120%;
                    z-index: 1;
                }
            }

            &:nth-child(3) {
                &::before {
                    left: rem(20px);
                    top: rem(-10px);
                }
            }

            &:last-child {
                &::before {
                    left: -25%;
                }
            }
            
            &:nth-child(2n) {
                transform: skew(-6deg) translateY(20px);
                z-index: 3;
            }

            .img {
                height: 100%;
                position: relative;
                z-index: 3;

                &::before {
                    background-image: linear-gradient(0deg, #000, #fff);
                    content: "";
                    height: 100%;
                    left: 0;
                    opacity: .2;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

                img {
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

.arr {
    &-item {
        &:not(:last-child) {
            margin-bottom: rem(20px);
        }

        &__head {
            border-bottom: 1px solid $white;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq('md', min) {
                padding-bottom: rem(10px);
            }
        }

        &__body {
            // display: none;
        }

        &__content {
            @include mq('md', min) {
                padding-top: rem(24px);
            }

            p {
                @include mq('md', min) {
                    font-size: rem(18px);
                    margin-top: rem(12px);
                }
            }
        }
    }
}

.p-map {
    &__wrap {
        display: flex;
        align-items: center;
        gap: rem(20px);
    }

    &__item {
        flex: 1;
        
        .map {
            @include mq('md', min) {
                height: rem(450px);
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}